@model JuanAlvarez_ExamenP1.Models.JuanAlvarez_tabla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JuanAlvarez_tabla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jaEdad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jaEdad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jaNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jaNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jaAñosEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jaAñosEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jaSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jaSalario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jaCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jaCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jaNacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.jaCedula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
